<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringECommerceApplication" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.max.spring_e_commerce.SpringECommerceApplication" />
    <module name="spring-e-commerce" />
    <option name="VM_PARAMETERS" value="-Dfile.encoding=UTF-8" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
